*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/test/dummy/log/*
/test/dummy/db/*
/test/dummy/.bundle
/test/dummy/initializers/secret_token.rb
/test/dummy/app/assets/
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.sublime-*
ToDo.md
config/initializers/secret_token.rb
cadinsor.gemspec
test/dummy/Gemfile.lock
