<!DOCTYPE html>
<html>
<head>
  <title>Cadinsor</title>
  <%= stylesheet_link_tag    "cadinsor/application", media: "all" %>
  <%= javascript_include_tag "cadinsor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
